<div class="itemsheet-header {{cssClass}}">
    <div class="itemsheet-name">
        <input name="name" 
               style="font-size:x-large" 
               type="text" 
               value="{{item.name}}" 
               placeholder="Name"/>
    </div>
</div>