<div class="w-item-container">
    <div class="w-item-name">
        <input 
	name="name" 
	type="text" 
	value="{{item.name}}" 
	placeholder="Name"/>
    </div>
    <div class="w-item-description">
        {{> "systems/wushu/templates/partials/descriptionblock.hbs"}}
    </div>
</div>


