<div>
    <h3>{{localize "WUSHU.item.description"}}</h3>
    <prose-mirror name="system.description" 
                      data-document-u-u-i-d="{{item.uuid}}" 
                      value="{{enrichedDescription}}" 
                      collaborate="true" 
                      toggled="false">
            {{{enrichedDescription}}}
    </prose-mirror>
</div>