<div>
    <h3>{{localize "WUSHU.items.features"}}</h3>
    <prose-mirror name="system.features" 
                      data-document-u-u-i-d="{{parent.uuid}}" 
                      value="{{enrichedFeats}}" 
                      collaborate="false" 
                      toggled="true">
            {{{enrichedFeats}}}
    </prose-mirror>
</div>