<div>
    <h3>{{localize "WUSHU.ui.dialogs.editors.storynotes"}}</h3>
    <prose-mirror name="system.backstory" 
                      data-document-u-u-i-d="{{actor.uuid}}" 
                      value="{{enrichedDescription}}" 
                      collaborate="true" 
                      toggled="false">
            {{{enrichedDescription}}}
    </prose-mirror>
</div>