<div class="w-mook-container">
  <div class="w-mook-name" >
    <input 
    style="font-size:x-large;"
	name="name" 
	type="text" 
	value="{{actor.name}}" 
	placeholder="Name"/>
  </div>
  <div class="w-mook-threat">
    {{> 'systems/wushu/templates/partials/threatblock.hbs'}}
  </div>
  <div class="w-mook-img">
    <img class="profile-img ew-cs-img" 
		 src="{{actor.img}}" 
		 data-edit="img" 
         data-action="editImage"
		 title="{{actor.name}}" 
		 height="300" 
		 width="300"/>
   </div>
</div>