.wushu-traits {
    text-align:left;
}




/* HERO/NEMESIS SHEET GRID */
.w-hero-container {  display: grid;
    grid-template-columns: min-content min-content min-content min-content 128px 256px;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "name name name name img img"
      "health health health health img img"
      "traits traits traits traits img img"
      "specials specials setbacks setbacks img img"
      "story story story story story story"
      "story story story story story story";
  }
  
  .w-hero-name { grid-area: name; }
  
  .w-hero-health { grid-area:health }

  .w-hero-traits { grid-area: traits; }

  .w-hero-setbacks { grid-area: setbacks; }
  
  .w-hero-specials { grid-area: specials; }
  
  .w-hero-story { grid-area: story; }
  
  .w-hero-img { grid-area: img; }
  

/* MOOK GRID */



/* CHAT MESSAGE GRID */
.cm-container {  display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: min-content min-content min-content;
gap: 6px 6px;
grid-auto-flow: row;
grid-template-areas:
    "traitinfo traitinfo traitinfo traitinfo"
    "atkdice atkdice defdice defdice"
    "atip atip dtip dtip";
}

.cm-traitinfo { 
    grid-area: traitinfo; 
}

.cm-atkdice { 
    grid-area: atkdice;
    justify-items:center;
}

.cm-defdice { 
    grid-area: defdice; 
}

.cm-atip { 
    grid-area: atip;
}

.cm-dtip {
    grid-area: dtip;
}

/* ITEM GRID */
.w-item-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas:
    "itemname itemname itemname itemrating itemcat"
    "itemfeat itemfeat itemfeat itemfeat itemfeat"
    "itemdesc itemdesc itemdesc itemdesc itemdesc"
}

.w-item-name {
    grid-area:itemname;
}

.w-item-rating {
    grid-area:itemrating
}

.w-item-category{
    grid-area:itemcat
}

.w-item-features{
    grid-area:itemfeat
}

.w-item-description{
    grid-area:itemdesc
}